<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Welcome Visitor</h1>
    <p>
      If you landed on this page it means you've found a secret David Bowie fan
      club website!
    </p>

    <a href="/about">See info about him</a>
    <a href="/works">See his works</a>
    <a href="/photogallery">See some of his pictures</a>
  </body>
</html>
