<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Some pics throughout his life</h1>

    <img src="/images/bowie3.jpeg" alt="Bowie during a concert" />
    <p>Bowie during a concert in the Starman era.</p>
    <img src="/images/bowie1.jpeg" alt="Bowie Starman years" />
    <p>Bowie during the Starman era.</p>

    <img src="/images/bowie2.jpeg" alt="Older Bowie holding guitar" />
    <p>Bowie now older holding his guitar.</p>

      <a href="/about">See info about him</a>
      <a href="/works">See his works</a>
      <a href="/home">Go back to home page</a>
    </p>
  </body>
</html>
