<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Works!</h1>
    <ul>
      <li>Mainly a musician/songwriter</li>
      <li>Actor</li>
      <li>Painter</li>
      <li>Art Collector</li>
    </ul>
    <a href="/about">See info about him</a>
    <a href="/home">Go back to home page</a>
    <a href="/photogallery">See some of his pictures</a>
  </body>
</html>
